
  {% extends "base.html" %}

  {% block title %}Missing Child Identification {% endblock %}
  {% block content %}

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="assets/images/gym-video.mp4" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h6>Here Upload Images</h6>
                <h2>Missing Child Identification  </h2>
               
            </div>
        </div>
    </div>
    {% endblock %}